.Footer {
    position: relative;
    background-color: darken($color: $text-color, $amount: 30);
    padding: 2rem;
    z-index: 2000;
    .footer__container {
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 780px) {
        padding: 5rem 5rem;
        .footer__container {
            display: inline-block;
            .list {
                display: flex;
                .flex {
                    display: flex;
                    gap: 2rem;
                    margin-right: 1rem;
                }
                div {
                    margin-right: 5rem;
                }
            }
        }
    }
}

h4 {
    color: $white;
    margin-bottom: 1.5rem;
}
ol, li {
    list-style: none;
    color: $white;
}

li {
    margin-bottom: 1rem;
    font-size: .9rem;
}

hr {
    color: $white;
    margin-bottom: 1rem;
    @media (min-width: 780px) {
        display: none;
    }
}

.copy {
    text-align: center;
    color: $white;
    @media (min-width: 780px) {
        position: absolute;
        bottom: 3rem;
        left: 45%;
    }
}